{% extends "../layout.html" %} {% block content %}

<main id="content" role="main">
  <div class="phase-banner-beta">
    <p>
      <strong class="phase-tag">BETA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>
  <div class="breadcrumbs">
    <ol>
      <li><a href="search">Home</a></li>
      <li><a href="exceptions">Unfiled documents</a></li>
    </ol>
  </div>
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">Unfiled documents</h1>
      <p class="lede">Documents that are received without a case reference need to be assigned to a case</p>
    </div>
    <div class="search-results">
      <table>
        <caption class="visuallyhidden">Caption to identify a table</caption>
        <thead>
          <tr>
            <th scope="col">Document</th>
            <th class="numeric" scope="col">Issue date</th>
            <th class="numeric" scope="col">Receipt date</th>
            <th class="numeric" scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <a href="../public/images/coversheet.pdf">20160706_SF201607010007_<span class="documentName">APPEAL<span></a>
            </td>
            <td class="numeric"><span class="tag">01/07/2016</span></td>
            <td class="numeric">06/07/2016</td>
            <td class="numeric"><a class="managedoc" href="exception-resolve">Manage</a></td>
          </tr>
          <tr>
            <td>
              <a href="../public/images/objection_cpct.pdf">20170418_SF201607010007_<span class="documentName">OBJECTION<span></a>
            </td>
            <td class="numeric"><span class="tag">14/04/2017</span></td>
            <td class="numeric">18/04/2017</td>
            <td class="numeric"><a class="managedoc" href="exception-resolve">Manage</a></td>
         </tr>
         <tr>
           <td>
             <a href="../public/images/passport.pdf">20170418_SF201607010007_<span class="documentName">PASSPORT<span></a>
           </td>
           <td class="numeric"><span class="tag">14/04/2017</span></td>
           <td class="numeric">18/04/2017</td>
           <td class="numeric"><a class="managedoc" href="exception-resolve">Manage</a></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</main>

{% endblock %}
