{% extends "../layout.html" %}

{% block content %}

<main id="content" role="main">
  <div class="phase-banner-beta">
    <p>
      <strong class="phase-tag">BETA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>
  <div class="breadcrumbs">
    <ol>
      <li><a href="search">Home</a></li>
      <li><a href="searchresults">Documents for case</a></li>
    </ol>
  </div>
  <div class="grid-row">
    <div class="column-two-thirds">

     <div class="alert-success" role="alert">
       <span class="icon icon-tick" role="presentation"></span>
       <div class="alert-message">
         <p>"20170401_1234-1234-1234-1234_{{DocumentName}}" was uploaded</p>
       </div>
     </div>

      <h1 class="heading-large">Documents for case</h1>

        <form id="searchform" action="searchresults" method="get">
        <div class="form-group">
          <label class="form-label" for="caseref">Case reference (e.g. UAN)</label>
          <input class="form-control" id="caseref" name="caseref" type="text" value="1234-1234-1234-1234">
          <input class="button" type="submit" value="Find">
        </div>
        </form>

        <p>5 documents found</p>

      </div>
        <div class="search-results">

          <table>
            <caption class="visuallyhidden">Caption to identify a table</caption>
            <thead>
              <tr>
                <th scope="col">Document</th>
                <th class="numeric" scope="col">Issue date</th>
                <th class="numeric" scope="col">Receipt date</th>
                <th class="numeric" scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <a href="../public/images/brp.pdf">20160706_1234-1234-1234-1234_<span class="documentName">{{DocumentName}}<span></a>
                </td>
                <td class="numeric"><span class="tag">01/07/2016</span></td>
                <td class="numeric">06/07/2016</td>
                <td class="numeric"><a class="managedoc" href="editdocument">Manage</a></td>
              </tr>
              <tr>
                <td>
                  <a href="../public/images/coversheet.pdf">20160706_1234-1234-1234-1234_<span class="documentName">APPEAL<span></a>
                </td>
                <td class="numeric"><span class="tag">01/07/2016</span></td>
                <td class="numeric">06/07/2016</td>
                <td class="numeric"><a class="managedoc" href="editdocument">Manage</a></td>
              </tr>
              <tr>
                <td>
                  <a href="../public/images/objection_cpct.pdf">20170418_1234-1234-1234-1234_<span class="documentName">OBJECTION<span></a>
                </td>
                <td class="numeric"><span class="tag">14/04/2017</span></td>
                <td class="numeric">18/04/2017</td>
                <td class="numeric"><a class="managedoc" href="editdocument">Manage</a></td>
             </tr>
             <tr>
               <td>
                 <a href="../public/images/passport.pdf">20170418_1234-1234-1234-1234_<span class="documentName">PASSPORT<span></a>
               </td>
               <td class="numeric"><span class="tag">14/04/2017</span></td>
               <td class="numeric">18/04/2017</td>
               <td class="numeric"><a class="managedoc" href="editdocument">Manage</a></td>
            </tr>
            <tr>
              <td>
                <a href="../public/images/rfi_form.pdf">20170418_1234-1234-1234-1234_<span class="documentName">RFI<span></a>
              </td>
              <td class="numeric"><span class="tag">12/04/2017</span></td>
              <td class="numeric">14/04/2017</td>
              <td class="numeric"><a class="managedoc" href="editdocument">Manage</a></td>
           </tr>
            </tbody>
          </table>
      </div>
    </div>
    <div class="grid-row">
      <div class="column-two-thirds">
        <h2 class="heading-medium">Add another document</h2>
        <p><a href="upload.html">Upload to case</a></p>
      </div>
    </div>


  </main>

  {% endblock %}
