{% extends "../layout.html" %} {% block content %}

<main id="content" role="main">

  {% block phase_banner %}{% include "includes/phase_banner.html" %}{% endblock %}
  {% block breadcrumb %}{% include "includes/breadcrumb.html" %}{% endblock %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h2 class="heading-large">Confirm if you have employed the worker</h2>

      <form action="form3" method="post">

        <h3 class="heading-medium">Joe Blogg</h3>

        <div class="form-group">
          <label class="form-label-bold">Have you employed this worker?</label>
          <fieldset class="inline">
            <label class="block-label selection-button-radio" for="employed-1" data-target="employed-yes">
              <input id="employed-1" type="radio" name="suspected" value="Yes">Yes
            </label>
            <label class="block-label  selection-button-radio" for="suspected-illegal-2">
              <input id="employed-2" type="radio" name="suspected" value="No">No
            </label>
          </fieldset>
        </div>

        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>
      </form>
    </div>
  </div>
</main>

{% endblock %}
