{% extends "../layout.html" %} {% block content %}

<main id="content" role="main">

  {% block phase_banner %}{% include "includes/phase_banner.html" %}{% endblock %}
  {% block breadcrumb %}{% include "includes/breadcrumb.html" %}{% endblock %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h2 class="heading-large">Contact details</h2>

      <form action="form3" method="get">

        <div class="form-group">
          <label class="form-label-bold" for="trading-name">Landline number</label>
          <input type="text" class="form-control" id="landline-number">
        </div>

        <div class="form-group">
          <label class="form-label-bold" for="trading-name">Mobile phone number</label>
          <input type="text" class="form-control" id="mobile-number">
        </div>

        <div class="form-group">
          <label class="form-label-bold" for="trading-name">Email address</label>
          <input type="text" class="form-control" id="email-address">
        </div>

        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>
      </form>
    </div>
  </div>
</main>

{% endblock %}
