{% extends "../layout.html" %} {% block content %}
<main id="content" role="main">
  {% block phase_banner %}{% include "includes/phase_banner.html" %}{% endblock %}
  <div class="grid-row">
    <div class="column-two-thirds">

 <div class="govuk-box-highlight">
        <h1 class="bold-large">Evidence submitted</h1>
        <!-- <p>
          Your reference number is <br>
          <strong class="heading-medium">4VTE9ZM</strong>
          </p>
          <p>You will need this reference number for further claims <br> or if you need to contact us
        </p> -->
      </div>

      <p>We have sent you confirmation by email.</p>
      <!-- <a href="" class="button">Download a copy of your application</a> -->


      <h3 class="heading-medium">What happens next</h3>
      <p>Your evidence will be assessed by the Civil Penalty Compliance Team.</p>
      <p>You can check your progress <a href="returning">here</a></p>

    </div>
      </div>
</main>

{% endblock %}
